---
import { FaSquareWhatsapp } from "react-icons/fa6";
import { BsFillTelephoneForwardFill } from "react-icons/bs";
import { SiGmail } from "react-icons/si";
import { FaFacebook } from "react-icons/fa6";
import { FaSquareInstagram } from "react-icons/fa6";
---

<ul class="flex justify-around m-3 px-6">
  <li><a href="tel:+972525412604"><BsFillTelephoneForwardFill size={28}/></a></li>
  <li><a href="https://wa.me/972525412604"><FaSquareWhatsapp size={28}/></a></li>
  <li><a href="mailto:sheyk75@gmail.com"><SiGmail size={28}/></a></li>
  <li><a><FaFacebook size={28}/></a></li>
  <li><a><FaSquareInstagram size={28}/></a></li>
</ul>