---
import "@fontsource/caveat-brush";
import { NavItem } from "./NavItem";
import { BsFillHouseDoorFill } from "react-icons/bs";
import { HiDocumentDuplicate } from "react-icons/hi";
import { BsInfoSquareFill } from "react-icons/bs";
import { MdRateReview } from "react-icons/md";
---

<div class="flex flex-col">
  <div
    class="flex w-80 relative justify-between items-center p-6 mb-5"
  >
    <span><img src="/logo.jpeg" alt="logo" class="box-border h-20 w-20" /></span
    >
    <div class="flex flex-col pl-3">
      <h1 class="text-2xl font-brush">SolA-Cosmetic</h1>
      <p class="text-base">(052)541-26-04</p>
    </div>
  </div>
  <nav>
    <ul class="mt-2">
      <li><NavItem href="/" isActive><BsFillHouseDoorFill />Home</NavItem></li>
      <li><NavItem href="/posts"><HiDocumentDuplicate />Posts</NavItem></li>
      <li><NavItem href="/about"><BsInfoSquareFill />About me</NavItem></li>
      <li><NavItem href="/review"><MdRateReview />Review</NavItem></li>
    </ul>
  </nav>
</div>
