---
import { NavItem } from "./NavItem";
import { BsFillHouseDoorFill } from "react-icons/bs";
import { HiDocumentDuplicate } from "react-icons/hi";
import { FaInfo } from "react-icons/fa";
import { MdRateReview } from "react-icons/md";
import { MdMail } from "react-icons/md";
---

<nav>
  <ul class="mt-2">
    <li><NavItem client:only="react" href="/" isActive><BsFillHouseDoorFill size={28}/>Home</NavItem></li>
    <li><NavItem client:only="react" href="/posts"><HiDocumentDuplicate size={28}/>Posts</NavItem></li>
    <li><NavItem client:only="react" href="/about"><FaInfo size={28}/>About me</NavItem></li>
    <li><NavItem client:only="react" href="/review"><MdRateReview size={28}/>Review</NavItem></li>
    <li><NavItem client:only="react" href="/contact"><MdMail size={28}/>Contact</NavItem></li>
  </ul>
</nav>
